#review-list {
    list-style: none;
    padding: 0;
  }
  
  #review-list li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
  }

  h1 {
    background-color: black;
    color: lime;
  }